<a href="https://colab.research.google.com/github/Ever1ck/bigdata1/blob/main/Archivo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1 - Carga de un archivo csv Desde Drive

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQegf2xJOBI1dqiauOLkAcXncq8aERT1s2d6-k0RWcqfcC3_eZ0gsOxsh1JtohXOkf1DN8Vbvs4jZ_Y/pub?gid=823927514&single=true&output=csv")

In [3]:
data

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [7]:
#Obtenemos la suma de los ingresos
suma_ingresos = data['ingresos'].sum()

print("La suma de la columna ingresos es:", suma_ingresos)

La suma de la columna ingresos es 76180

In [11]:
#Obtenemos el promedio de las edades de las personas de la lista
prod_edad = data['edad'].mean()
print("El promedio de la edad de los trabajadores es:", int(prod_edad))

El promedio de la edad de los trabajadores es: 31

In [23]:
#Obtenemos las personas que trabajan en arequipa
arequipa_f = data[data['ciudad'] == 'Arequipa']

personas = arequipa_f[['ciudad', 'nombre']]
print(personas)
print(personas)

      ciudad    nombre
1   Arequipa     María
4   Arequipa     Pedro
10  Arequipa  Gabriela
15  Arequipa    Javier
21  Arequipa      José

In [26]:
# Calcular el promedio de ingresos por ciudad
promedio_por_ciudad = data.groupby('ciudad')['ingresos'].mean().astype(int)

# Mostrar el promedio de ingresos por ciudad
print("Promedio de ingresos por ciudad (en números enteros):")
print(promedio_por_ciudad)

Promedio de ingresos por ciudad (en números enteros):
ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64

In [29]:
# Encontrar la persona más joven
persona_mas_joven = data[data['edad'] == data['edad'].min()][['nombre', 'edad']]

# Encontrar la persona más mayor
persona_mas_mayor = data[data['edad'] == data['edad'].max()][['nombre', 'edad']]

# Mostrar los resultados
print("La persona más joven es:")
print(persona_mas_joven)

print("\nLa persona más mayor es:")
print(persona_mas_mayor)

La persona más joven es:
     nombre  edad   ciudad  ingresos
11  Micaela    21  Juliaca      5000

La persona más mayor es:
   nombre  edad   ciudad  ingresos
5  Leonel    64  Juliaca      4980

In [30]:
# Encontrar la persona más joven
persona_mas_joven = data[data['edad'] == data['edad'].min()]

# Encontrar la persona más mayor
persona_mas_mayor = data[data['edad'] == data['edad'].max()]

# Mostrar los resultados
print("La persona más joven es:")
print(persona_mas_joven)

print("\nLa persona más mayor es:")
print(persona_mas_mayor)

La persona más joven es:
     nombre  edad   ciudad  ingresos
11  Micaela    21  Juliaca      5000

La persona más mayor es:
   nombre  edad   ciudad  ingresos
5  Leonel    64  Juliaca      4980

In [36]:
personas_cuidad =data.groupby("ciudad")["nombre"].count()
print(personas_cuidad)
total_general = personas_cuidad.sum()

# Mostrar el total general
print(f"\nTotal general: {total_general}")

ciudad
Arequipa    5
Cusco       4
Juliaca     2
Lima        6
Puno        1
Trujillo    5
Name: nombre, dtype: int64

Total general: 23

In [45]:
# Ordenar el DataFrame por la edad
df_ordenado_por_edad = data.sort_values(by='edad', ascending=False)[['nombre', 'edad']]

# Mostrar el DataFrame ordenado por edad de mayor a menor
print("DataFrame ordenado por edad (de mayor a menor):")
print(df_ordenado_por_edad)

DataFrame ordenado por edad (de mayor a menor):
       nombre  edad
5      Leonel    64
22      Willy    55
2        Luis    35
19    Ricardo    35
21       José    34
10   Gabriela    33
15     Javier    32
6       Laura    31
17     Manuel    31
14     Lorena    30
0        Juan    30
8       Sofía    29
16    Daniela    29
1       María    28
18   Fernanda    28
4       Pedro    28
9      Andrés    27
13  Valentina    26
7      Carlos    25
12      Diego    24
20      Lucía    23
3         Ana    22
11    Micaela    21